<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-4 tile">
            <a href="/picking"></a>
            <p>Picking</p>
        </div>
        <div class="col-6 col-sm-4 tile">
            <a href="/product_move"></a>
            <p>Product move</p>
        </div>
        <div class="col-6 col-sm-4 tile">
            <a href="/checking"></a>
            <p>Checking</p>
        </div>
        <div class="col-6 col-sm-4 tile">
            <p>Log out</p>
        </div>
    </div>
</div>