<h2>Orders</h2>
<div class="panel-body">
    <ul class="col-12 col-sm-12 col-md-6 list-group">
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
        <li class="list-group-item"><strong>Dummy Order</strong>(active)
        </li>
    </ul>
    <div class="col-12 col-sm-12 col-md-6">
        <h3>Order info:</h3>
    </div>
</div>
<!-- <div class="col-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order number</th>
                <th>Customer</th>
                <th>Order date</th>
                <th>Status</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.orderNumber}}</td>
                <td>{{order.customerNick}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.status}}</td>
                <td>{{order.username}}</td>
            </tr>
        </tbody>
    </table>

</div> -->